DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=isi_password_masing_masing
DB_NAME=mantra_db
DB_PORT=5432

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=isi_kunci_lu
MINIO_SECRET_KEY=isi_secret_lu
MINIO_BUCKET=mantra-storage