DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=isi_password_masing_masing
DB_NAME=mantra_db
DB_PORT=5432

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=isi_kunci_lu
MINIO_SECRET_KEY=isi_secret_lu
MINIO_BUCKET=mantra-storage

# Biteship
BITESHIP_API_KEY=isi_biteship_api_key
BITESHIP_MODE=sandbox
BITESHIP_STORE_NAME=Toko Mantra
BITESHIP_STORE_ADDRESS=Jl. Contoh No. 123
BITESHIP_STORE_CITY=Jakarta Selatan
BITESHIP_STORE_POSTAL_CODE=12345
BITESHIP_STORE_COORDINATE_LAT=-6.9175
BITESHIP_STORE_COORDINATE_LONG=107.6191
BITESHIP_STORE_REGION=Jakarta

# Midtrans
MIDTRANS_SERVER_KEY=isi_midtrans_server_key
MIDTRANS_CLIENT_KEY=isi_midtrans_client_key
MIDTRANS_MODE=sandbox